.main-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 400px;
    height: 50px;
    border-radius: 20px;
    background: var(--color-first);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);  
    font-family: inherit;
    color: var(--color-darker);
    font-size: 20px;
    cursor: pointer;
    transition: 100ms transform cubic-bezier(.42,0,.6,2.06);
}

.main-button:hover{
    transform: scale(1.05);
}